.container{
    width:50%;
    height:20%;
    float:left;
    margin:1px;
    float:left;
    border:2px;
    padding-right: 5px;;
}

.row{
    float:left;
    padding:0;
    margin:0;
    border:2px;
}
html{
    margin: 50px;
    width: 45%;
    border:4px solid black;
    border-width: 50%;
    color:bisque;
    padding-top:50px;
    padding-left: 50px;
    padding-bottom:50px;
}
.input{
    width:50%;
    height:50%;
    border:5px solid black ;
}
#bt{
    border:2px solid black;
    padding:0;
    margin:0;
    width:28px;
    display:inline-block;
    
}
